<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark custom-third-bg">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">History Guessr!</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/users/login}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/users/register}">Register</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/game/start-new-game}"
                      th:method="POST"
                      id="startGameForm"
                      class="logoutForm"
                >
                    <a class="nav-link"
                       href="javascript:void(0);"
                       onclick="document.getElementById('startGameForm').submit();"
                    >Start Game
                    </a>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <div th:if="${session.gameSession != null}">
                    <a class="nav-link btn-outline-light" th:href="@{/game}">Resume</a>
                </div>
            </li>
            <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                <a class="nav-link dropdown-toggle"
                   id="dropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu " aria-labelledby="dropdown">
                    <a class="dropdown-item" th:href="@{/admin/upload}">Add Location</a>
                    <a class="dropdown-item" th:href="@{/admin/manage-users}">Manage users</a>
                </div>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}"
                      th:method="POST"
                      id="logoutForm"
                      class="logoutForm"
                >
                    <a class="nav-link"
                       href="javascript:void(0);"
                       onclick="document.getElementById('logoutForm').submit();"
                    >Logout
                    </a>
                </form>
            </li>
        </ul>
    </div>
</nav>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>