body {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-color: #102e44;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #272626;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    color: #ffffff;
}

a {
    text-decoration: none;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #b2fcfb;
}

button{
    text-decoration: none;
    color: #b2fcfb;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}



.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #272626;
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin-bottom: 5px;
}