body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mapSearch{
    position: absolute;
    z-index: 999;
    overflow: hidden;
    width: 200px;
    height: 200px;
    transition: width 0.5s, height 0.5s;
}


#nextButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
