body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.mainContainer{
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.header{
    background-color: cadetblue;
    color: #272626;
    padding: 20px;
    text-align: center;
}

.gameContainer{
    padding: 20px;
    text-align: center;
    position: relative;
}

.imageContainer{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.expand{
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 20px;
    box-shadow: #272626;
}

.expand:hover{
    display: block;
}

.mapSearch{
    width: 50%;
    height: 50%;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: cadetblue;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}