<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${csrfToken}"/>
    <title>Game</title>
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
<div id="container">
    <div id="image-zoom">
        <img th:src="${imageUrl}" alt="image">
    </div>
</div>
<footer>
    <div class="expandable" id="expandable">
        <div class="expandable__content">
            <div class="mapSearch" id="googleMap"></div>


            <script type="module" src="/js/googleMap.js"></script>
            <div class="form">

                <form th:method = "post" th:action="@{/game}">
                    <label for="yearSlider"></label>
                    <input name="guessYear"
                           type="range"
                           min="1900" max="2024"
                           value="2024"
                           class="slider"
                           id="yearSlider">
                    <p>Year: <span id="yearValue">2024</span></p>
                </form>
                <button class="button" id="fetchButton">Submit</button>
            </div>
        </div>
    </div>
</footer>
<script>
    (g => {
        var h, a, k, p = "The Google Maps JavaScript API",
            c = "google",
            l = "importLibrary",
            q = "__ib__",
            m = document,
            b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
            r = new Set(['maps']),
            e = new URLSearchParams,
            u = () => h || (h = new Promise(async (f, n) => {
                await (a = m.createElement("script"));
                e.set("libraries", [...r] + "");
                for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                e.set("callback", c + ".maps." + q);
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                d[q] = f;
                a.onerror = () => h = n(Error(p + " could not load."));
                a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                m.head.append(a)
            }));
        d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
    })({
        key: "AIzaSyBGKsKXscB_mbOmJt6K866Xshpw2Olq24Q",
        v: "weekly",
    });
</script>
</body>
</html>
