<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body class="home">

<div th:replace="~{fragments/navbar}" class="mb-4">Navbar</div>

<main sec:authorize="${!isAuthenticated()}" class="container mt-5">
    <div sec:authorize="!isAuthenticated()" class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-blur text-white">
                <div class="card-body">
                    <h1 class="card-title text-center">Welcome to History Guessr</h1>

                    <h2 sec:authorize="isAuthenticated()" class="text-center text-white mt-2">
                        Welcome, <span th:text="${#authentication.principal.getUsername()}"></span>
                    </h2>

                    <p class="h4 text-center mt-4">Welcome to my final project.</p>

                    <h3 class="text-center mt-4">
                        <a class="text-primary" th:href="@{/users/login}">Login</a> if you have an account or
                        <a class="text-primary" th:href="@{/users/register}">Register</a> and play a game!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
