<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body class="home">

<div th:replace="~{fragments/navbar}" class="mb-4">Navbar</div>

<main class="bg-dark bg-blur rounded mt-5">
    <div sec:authorize="!isAuthenticated()"
         class="container rounded mt-5">
        <h1>Welcome to History Guessr</h1>

        <h2 sec:authorize="isAuthenticated()"
            class="text-center text-white mt-2">Welcome,
            <span sec:authorize="isAuthenticated()"
                  th:text="${#authentication.principal.getUsername()}">
            </span>
        </h2>
        <p class="h4">
            Welcome to my final project.</p>

        <h3>
            <a class="primary-text" th:href="@{/users/login}">Login</a>
            if you have an account or
            <a class="primary-text" th:href="@{/users/register}">Register</a>
            and play a game!
        </h3>
    </div>
</main>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
