<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body class="home">

    <div th:replace="~{fragments/navbar}">Navbar</div>


<main>
    <h2>Welcome,
        <span
                sec:authorize="isAuthenticated()"
                th:text="${#authentication.principal.getUsername()}">
        </span>
        <span
                sec:authorize="!isAuthenticated()">
            Anonymous
        </span>
    </h2>
</main>

</body>
</html>
