<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Home</title>
</head>
<body class="home">

<div th:replace="~{fragments/navbar}" class="mb-4">Navbar</div>

<main sec:authorize="${!isAuthenticated()}" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-blur text-white">
                <div class="card-body">
                    <h1 class="card-title text-center">Welcome to History Guessr</h1>

                    <h4 class="text-center mt-4">
                        This is my project for the Spring Advanced Course 2024 at <a th:href="@{https://softuni.bg}" target="_blank">SoftUni</a>.
                    </h4>
                    <h4 class="h4 text-center mt-4">
                        It is a game inspired by
                        <a th:href="@{https://www.geoguessr.com}" target="_blank"> GeoGuessr </a> and
                        <a th:href="@{https://timeguessr.com}" target="_blank"> TimeGuessr </a>, and I strongly advise you to check them out!
                        The goal is to guess the location and the year of the given historical picture.
                        You can also compete against other players in the daily challenge. Try it out!
                    </h4>


                    <h4 class="text-center mt-4">
                        <a class="text-primary" th:href="@{/users/login}">Login</a> if you have an account or
                        <a class="text-primary" th:href="@{/users/register}">Register</a> and play a game!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
