<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{profile.title}">Profile Page</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="manage">

<div th:replace="~{fragments/navbar}" class="mb-4">Navbar</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-blur text-white">
                <div class="card-body">
                    <h2 class="card-title text-center" th:text="#{profile.details}">Profile Details</h2>
                    <div class="mb-3">
                        <strong th:text="#{user.username} + ':'">Username:</strong>
                        <p class="text-white" th:text="${userInformation.getUsername()}">Username</p>
                    </div>
                    <div class="mb-3">
                        <strong th:text="#{user.email} + ':'">Email:</strong>
                        <p class="text-white" th:text="${userInformation.getEmail()}">Email</p>
                    </div>
                    <div class="mb-3">
                        <strong th:text="#{user.since} +':'">User since:</strong>
                        <p class="text-white" th:text="${userInformation.getRegistrationDate()}">Registration Date</p>
                    </div>

                    <div class="mt-4">
                        <h3 class="text-center" th:text="#{profile.best.games}">Best Games</h3>
                        <table id="table" class="table table-striped mt-3 bg-blur">
                            <thead>
                            <tr>
                                <th th:text="#{table.position}">Position</th>
                                <th th:text="#{table.date}">Date</th>
                                <th th:text="#{table.total.score}">Total Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-white"
                                    th:each="entry, index : ${bestGames}">

                                <td th:text="${index.index + 1}"></td>
                                <td th:text="${entry.key.toLocalDate()}">Date</td>
                                <td th:text="${entry.getValue()}">Total Score</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
