<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register.title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="register">

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container form-signin">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form class="p-3 text-white rounded shadow bg-blur"
                  th:action="@{/users/register}"
                  th:method="POST"
                  th:object="${userRegistrationDTO}">
                <h2 class="mb-4" th:text="#{register.register}"></h2>

                <div class="mb-3" data-validate="Enter username">
                    <label for="username" th:text="#{user.username}">Username</label>
                    <input id="username"
                           th:field="*{username}"
                           th:errorclass="'is-invalid alert-danger bg-danger'"
                           class="form-control text-lg-center"
                           type="text"
                           name="username"
                           th:placeholder="#{user.username}">
                    <div th:if="${#fields.hasErrors('username')}" >
                        <p class="text-danger"
                           th:each="error : ${#fields.errors('username')}" th:text="${error}"></p>
                    </div>
                </div>
                <div class="mb-3" data-validate="Enter email">
                    <label for="email" th:text="#{user.email}">Email</label>
                    <input id="email"
                           th:field="*{email}"
                           th:errorclass="'is-invalid alert-danger bg-danger'"
                           class="form-control text-lg-center"
                           type="text"
                           name="email"
                           th:placeholder="#{user.email}">
                    <div th:if="${#fields.hasErrors('email')}" >
                        <p class="text-danger"
                           th:each="error : ${#fields.errors('email')}" th:text="${error}"></p>
                    </div>
                </div>

                <div class="mb-3" data-validate="Enter password">
                    <label for="password" th:text="#{user.password}">Password</label>
                    <input id="password"
                           th:field="*{password}"
                           th:errorclass="'is-invalid alert-danger bg-danger'"
                           class="form-control text-lg-center"
                           type="password"
                           name="password"
                           th:placeholder="#{user.password}">
                    <div th:if="${#fields.hasErrors('password')}" >
                        <p class="text-danger"
                           th:each="error : ${#fields.errors('password')}" th:text="${error}"></p>
                    </div>
                </div>

                <div class="mb-3" data-validate="Confirm password">
                    <label for="confirmPassword" th:text="#{register.confirm.password}">Confirm Password</label>
                    <input id="confirmPassword"
                           th:field="*{confirmPassword}"
                           th:errorclass="'is-invalid alert-danger bg-danger'"
                           class="form-control text-lg-center"
                           type="password"
                           name="confirmPassword"
                           th:placeholder="#{register.confirm.password}">
                    <div th:if="${#fields.hasErrors('confirmPassword')}" >
                        <p class="text-danger"
                           th:each="error : ${#fields.errors('confirmPassword')}" th:text="${error}"></p>
                    </div>
                </div>


                <button class="btn btn-primary w-100 mt-3" type="submit"
                        th:text="#{register.register}">
                    Register
                </button>


            </form>
        </div>
    </div>
</div>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
