<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TimeGuessr - Round One</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/stylesheet1.css">
    <link rel="stylesheet" href="css/game3.css">
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js" crossorigin="anonymous" async data-callback="initMapKit" data-libraries="map,annotations" data-initial-token="eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkM4UFEyOVBDUDYifQ.eyJpc3MiOiI2UEtTQ1Y5NzIyIiwiaWF0IjoxNzAzODA5NDEzLCJleHAiOjE3MzUxNzEyMDB9.ZIbMxcu96RWwsfV_tudLimz4DEghuVhKM8XAG3_2H1myfvURHN4S8NwgbocudxaexPZu5ZbNiVCVuOPKquUprA"></script>
    <script async src="https://cdn.snigelweb.com/adengine/timeguessr.com/loader.js" type="text/javascript"></script>
    <style>
        body {
            font-family: 'Mulish', sans-serif;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .main-content {
            text-align: center;
        }
        .photoContainer {
            position: relative;
            margin-bottom: 20px;
        }
        .photoContainer img {
            width: 100%;
            height: auto;
        }
        #progressBar {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .progressBarText1, .progressBarText2 {
            margin: 0;
        }
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
        }
        .expandable {
            margin: 0 auto;
            max-width: 500px;
        }
    </style>
</head>
<body class="game">
<div id="adngin-top_adhesive-0"></div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <div class="main-content">
                <div class="photoContainer" id="photoContainer">
                    <img class="zoom img-fluid" id="variableImage" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNTA4IiBoZWlnaHQ9IjIwMDIiPjwvc3ZnPg==" alt="Variable Image" style="background-repeat: no-repeat; background-image: url('https://images.timeguessr.com/65b693f0-e179-4f9e-a3dd-6b51efe64af4.jpg'); background-size: cover;">
                    <img class="mapIcon d-none" id="mapIcon" src="assets/mapIcon.webp">
                    <img id="miniImage" class="d-none" src="https://images.timeguessr.com/65b693f0-e179-4f9e-a3dd-6b51efe64af4.jpg">
                </div>
                <div id="progressBar" class="d-flex justify-content-between">
                    <div id="roundBox" class="text-center">
                        <p class="progressBarText1">Round</p>
                        <p class="progressBarText2">1/5</p>
                    </div>
                    <div id="scoreBox" class="text-center">
                        <p class="progressBarText1">Score</p>
                        <p class="progressBarText2">0</p>
                    </div>
                </div>
            </div>
            <footer>
                <div class="expandable" id="flag">
                    <div class="changeSize" id="changeSize" class="d-flex justify-content-between">
                        <button class="btn btn-outline-secondary" onclick="upsize()">
                            <img class="up" id="arrow" src="assets/newArrowUp.png" alt="Up">
                        </button>
                        <button class="btn btn-outline-secondary" onclick="downsize()">
                            <img class="down" id="arrow" src="assets/newArrowDown.png" alt="Down">
                        </button>
                        <button class="btn btn-outline-secondary" onclick="pin()">
                            <img class="pin" id="pin" src="assets/pin.png" alt="Pin">
                        </button>
                    </div>
                    <div class="googleMapDefault" id="googleMap">
                        <div class="mk-map-view mk-disable-all-gestures" style="position: relative; width: 100%; height: 300px;">
                            <canvas width="100%" height="100%" class="syrup-canvas" aria-hidden="true" style="background-color: rgb(249, 245, 237);"></canvas>
                        </div>
                    </div>
                    <div class="slidecontainer mt-3" id="slidecontainer">
                        <p id="demo">1962</p>
                        <input type="range" min="1900" max="2024" value="1962" class="form-range" id="myRange">
                        <a id="guessButton" class="d-block mt-3">
                            <div class="makeGuess" id="makeGuess">
                                <p id="guessText" class="guessText">Place your pin on the map</p>
                            </div>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
<script>
    sessionStorage.clear();
    function sendRequest(paramsHere) {
        const data = { urlParameters: paramsHere };
        const options = {
            method: 'POST',
            body: JSON.stringify(data),
            credentials: 'include',
            headers: {
                "Content-Type": "application/json"
            }
        };

        fetch('/getPlay', options)
            .then(async response => {
                const playArray = await response.json();
                const roundOneData = playArray[0];
                console.log(playArray);
                document.getElementById("variableImage").src = roundOneData.URL;
                document.getElementById("miniImage").src = roundOneData.URL;

                document.getElementById("variableImage").onload = function() {
                    const heightToAssign = variableImage.clientHeight + 'px';
                    document.getElementById('photoContainer').style.height = heightToAssign;
                };

                sessionStorage.setItem("yearStorage", 1962);
                sessionStorage.setItem("windowSize", 2);
                sessionStorage.setItem("dailyFlag", 0);
                sessionStorage.setItem('playArray', JSON.stringify(playArray));

                const roundOneShareLink = 'https://timeguessr.com/roundone?RA=' + String(playArray[5]) + ':' + String(playArray[6]);
                sessionStorage.setItem('shareLink', roundOneShareLink);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    const urlParams = new URLSearchParams(window.location.search);
    const URLdata = urlParams.get('RA');
    sendRequest(URLdata);

    (async () => {
        const tokenID = "eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkM4UFEyOVBDUDYifQ.eyJpc3MiOiI2UEtTQ1Y5NzIyIiwiaWF0IjoxNzAzODA5NDEzLCJleHAiOjE3MzUxNzEyMDB9.ZIbMxcu96RWwsfV_tudLimz4DEghuVhKM8XAG3_2H1myfvURHN4S8NwgbocudxaexPZu5ZbNiVCVuOPKquUprA";

        if (!window.mapkit || window.mapkit.loadedLibraries.length === 0) {
            await new Promise(resolve => { window.initMapKit = resolve });
            delete window.initMapKit;
        }

        mapkit.init({
            authorizationCallback: function(done) {
                done(tokenID);
            }
        });

        const mapCentre = new mapkit.CoordinateRegion(
            new mapkit.Coordinate(51.48633971492552, 3.691691980292835),
            new mapkit.CoordinateSpan(1000, 1000)
        );

        const map = new mapkit.Map("googleMap", {
            colorScheme: mapkit.Map.ColorSchemes.Light,
            isRotationEnabled: false,
            showsZoomControl: false,
        });

        map.region = mapCentre;
        map._allowWheelToZoom = true;
        map.cameraZoomRange = new mapkit.CameraZoomRange(50, 1000000000000);

        let clickAnnotation = null;

        map.addEventListener("single-tap", event => {
            if (clickAnnotation) {
                map.removeAnnotation(clickAnnotation);
            }

            const point = event.pointOnPage;
            const coordinate = map.convertPointOnPageToCoordinate(point);

            clickAnnotation = new mapkit.MarkerAnnotation(coordinate, {
                color: "#000000"
            });

            map.addAnnotation(clickAnnotation);
            const lt = clickAnnotation._impl._coordinate.latitude;
            const lng = clickAnnotation._impl._coordinate.longitude;
            const coords = "(" + lt + ", " + lng + ")";

            console.log(coords);
            sessionStorage.setItem("coords", coords);

            if (!flag) {
                document.getElementById("guessButton").href = "roundresults";
                document.getElementById("makeGuess").className = "makeGuessTrue";
                document.getElementById("guessText").innerHTML = "Make guess";
                document.getElementById("guessText").className = "guessTextTrue";
            }
            flag = true;
        });
    })();
</script>
</body>
</html>
