<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<form th:action="@{/users/login}" th:method="POST">  <h2>Login</h2>
    <label for="username">Username:</label>
    <input  type="text"
            id="username"
            th:value="@{username}"
            name="username"
            placeholder="Username" required>

    <label for="password">Password:</label>
    <input  type="password"
            id="password"
            name="password"
            placeholder="Password" required>


    <p th:if="@{badCredentials}" class="invalid-feedback errors">Invalid username or password</p>

    <button type="submit">Login</button>
</form>
</body>
</html>